.home{
    padding: 10px;
    height: 100vh;
}


.pricing{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.card{
    flex: 1;
    padding: 30px;
    background-color:rgb(22, 185, 160);
    border-radius: 10px;
    text-align: center;
}

.sub{
    height: 300px;
    width: 500px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    background-color:aquamarine;
    align-items: center;
    justify-content:space-around;
}

.col{
    height: 40px;
    width: 50px;
    flex: 1;
    padding: 30px;
    border-radius: 10px;
}

.col:first-child{
    flex: 2;
    background-color: blue;
    align-self: flex-end;
}

.col:last-child{
    flex: 3;
    background-color: cornflowerblue;
}

.col:nth-child(2){
    flex: 1;
    align-self:flex-start;
    background-color:tomato;
}