*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* div{
    border: 1px solid red;
} */

/* navbar section starts here */


.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 25px 38px;
}

.nav-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
}

.nav-items a{
    /* margin-left: 20px; */
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.nav-actions{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;          
    align-items: center;
}

.search-bar{
    width: 32%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
}

.search-icon{
    display: flex;
    align-items: center;
}
    
.search-input{
    width: 40%;
}

.search-input input{
    width: 140%;
    padding: 5px;
    border: none;
    outline: none;
}

.log-in{
    width: 22%;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.log-in p{
    font-size: 12px;
}

#search-icon{
    display: none;
}

.menu-icon{
    display: none;
}

/* navbar section ends here */

/* hero section starts here */


.hero{
    display: flex;
    flex-wrap: wrap;
    background-image: url(https://static.wixstatic.com/media/c837a6_47b79e5c794c44479756b0253e68dc65~mv2.jpg/v1/fill/w_1768,h_856,fp_0.08_0.00,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Hero.jpg);
    width: 94%;
    margin: 0 auto;
    height: 90vh;
    background-size: cover;
    border-radius: 20px;
}

.hero-content{
    width: 50%;
    padding: 40px;
}


.hero-content p{
    font-size: 80px;
    font-weight: bolder;
    font-family: "Wix Madefor Display", sans-serif;
}

.hero-card{
    width: 50%;
    display: flex;
}

.hero-display-card{
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    width: 65%;
    align-items: center;
}

.hero-card-image{
    width: 100%;
}

.hero-card-image img{
    width: 100%;
    border-radius: 20px;
}

.hero-card-content{
    width: 100%;
}

.hero-card-content h4{
    margin: 10px 0;
}

.hero-card-content p{
    margin: 10px 0;
}

.line-through{
    text-decoration: line-through;
}

.color-blue{
    color: #0075ff;
}


.btn-atc{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #1570c3;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.lower-hero-card{
    display: none;
}

/* lower hero section ends here */

/* best seller section starts here */

.best-seller{
    width: 94%;
    margin: 0 auto;
}

.best-seller-headline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px auto;
}

.best-seller-headline h2{
    font-size: 25px;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

.best-seller-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.bs-card{
    width: 23%;
}

.bs-card-image{
    width: 100%;
}

.bs-card-image img{
    width: 100%;
    border-radius: 20px;
}

.bs-card-content{
    width: 100%;
}

.bs-card-content h4{
    margin: 10px 0;
}

.bs-card-content p{
    margin: 10px 0;
}

/* best seller section ends here */

/* kids collection banner section starts here */

.kids-collection-banner{
    width: 94%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.kids-collection-banner-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.kids-collection-banner-content{
    width: 48%;
}

.kids-collection-banner-content h1{
    font-size: 57px;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

.kids-collection-banner-content p{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

.kids-collection-banner-content button{
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    background-color: #1570c3;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}


.kids-collection-banner-image{
    width: 48%;
    
}

.kids-collection-banner-image img{
    width: 100%;
    border-radius: 20px;
}

.lower-kids-collection-banner-image{
    display: none;
}




/* kids collection banner section ends here */










@media(max-width: 600px){

/* navbar section starts here */

    .navbar{
        padding: 10px;
    }

    .nav-items{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .nav-actions{
        width: 40%;
    }

    .search-bar{
        display: none;
    }

    .log-in{
        display: none;
    }

    #search-icon{
        display: block;
    }
    
/* navbar section ends here */

/* hero section starts here */

.hero{
    width: 94%;
    height: 80vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position:  -200px;
    background-size: cover;
    border-radius: 10px;
}

.hero-content{
    width: 100%;
    padding: 20px;
}

.hero-content p{
    font-size: 50px;
}

.hero-content h1{
    font-size: 18px;
}

.hero-card{
    display: none;
}

/* lower hero card starts here */

.lower-hero-card{
    display: flex;
    margin-top: 20px;
    width: 100%;
    
}

.lower-hero-display-card{
    /* padding: 20px; */
    margin: auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 94%;
    align-items: center;
}

.lower-hero-card-image{
    width: 100%;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    
}

.lower-hero-card-image img{
    width: 89%;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.lower-hero-card-content{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.lower-hero-card-content h4{
    margin: 10px 20px;
}

.lower-hero-card-content button{
    margin: 10px 20px;
    width: 90%;
}

/* lower hero csrd section ends here */

/* best seller section starts here */

.best-seller{
    width: 94%;
    margin: 0 auto;
}

.best-seller-cards{
    margin: 20px auto;
}

.bs-card{
    width: 48%;
    margin: 10px 0;
}

.bs-card-image img{
    border-radius: 10px;
}


/* best seller section ends here */

/* kids collection section starts here */

.kids-collection-banner-box{
    flex-direction: column;
    width: 100%;
}

.kids-collection-banner-content{
    width: 100%;
}

.kids-collection-banner-content h1{
    font-size: 42px;
}

.kids-collection-banner-content p{
    font-size: 16px;
}

.kids-collection-banner-content button{
    margin-top: 15px;
    padding: 15px 27px;
    font-size: 15px;

} 

.kids-collection-banner-image{
display: none;
}

.lower-kids-collection-banner-image{
    display: block;
    width: 100%;
    margin: 20px auto;
    background-image: url(https://static.wixstatic.com/media/c837a6_6fdee1f4ad5943009a8f74d6d286c71a~mv2.jpg/v1/fill/w_861,h_861,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Kids%20Sale.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 10px;
}



}


