*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif, Arial, Helvetica;
}

div{
    display: flex;
    border: 1px solid red;
}

sup{
    font-size: 10px;
    color: rgb(243, 63, 153);
}

.navbar{
    display: flex;
    width: 100%;
    padding: 0 55px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.main-nav{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-logo{
    align-items: center;
    height: 60px;
    width: 60px;
    padding: px;
}

.m-logo img{
    height: 100%;
    width: 100%;
    /* padding-top: 25%; */
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 11vh;
    width: 500px;
}

.nav-btn{
    text-decoration: none;
    color: #282c3f;
    font-weight: bold;
    font-size: 12px;
}

.studio-btn{
    margin-bottom: 6px;
}

.search-bar{
    height: 100%;
    width: 100%
}

.search-bar input{
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 10px;
    background-color: antiquewhite;
    box-sizing: border-box;
}


.input-bar{
    height: 100%;
    width: 50%;
    align-items: end;
}


.PWB{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 17%;
}